<!doctype html>
<html lang="en">
  <head th:replace="~{fragments/head :: head}"></head>
  <body>
    <div th:insert="~{fragments/navigation-menu :: navigation}"></div>
    <div class="container">
      <div class="row">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Имя</th>
            <th scope="col">Описание</th>
            <th scope="col">Дата</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="post: ${posts}">
            <td th:text="${post.id}" />
            <td>
              <a th:href="@{|/formUpdatePost/${post.id}|}">
                <i class="fa fa-edit"></i>
              </a>
              <span th:text="${post.name}"></span>
              <span th:if="${post.isVisible}">
                <i class="fa fa-check-square-o"></i>
              </span>
              <span th:if="${!post.isVisible}">
                <i class="fa fa-square-o"></i>
              </span>
            </td>
            <td th:text="${post.description}" />
            <td th:text="${post.created}" />
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>