<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link th:insert="~{fragments/head :: link-bootstrap}">
    <script  th:insert="~{fragments/head :: script-jquery}"></script>
    <script  th:insert="~{fragments/head :: script-popper}"></script>
    <script  th:insert="~{fragments/head :: script-bootstrap}"></script>

    <title>Работа мечты!</title>
</head>
<body>
    <div th:insert="~{fragments/navigation-menu :: navigation}"></div>
    <a class="nav-item nav-link" th:href="@{/formAddPost}">Добавить вакансию</a>
    <a class="nav-item nav-link" th:href="@{/formAddPost}">Добавить кандидата</a>
</div>
</body>
</html>